.card-content{
    margin: 0;
}
.card {
    border-radius: 20px;
    width: 100%;
    text-align: right;
    overflow: hidden;
    position: relative;
    z-index: 10;
    margin-bottom: -32px;
}
.icon{
    margin: -9px 20px 0 0;
    height: 74px;
    width: 74px;  
}
.card-container{
    display: flex;
    
    position: relative;
    z-index: 20;
    padding: 30px 25px 20px 25px;
    background: var(--dark-blue);
    border-radius: 20px;
    flex-direction: column;
}
.card-container:hover{
    cursor: pointer;
    background: hsl(235, 42%, 37%);
}
.card-text{
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    justify-content: space-between;
    align-content: flex-start; 
}
.cards{
    color: var(--pale-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ellipsis{
    height: 5px;
    width: 25px;
    align-self: center;   
}
.week{
    
    font-size: 16px;
    color: var(--pale-blue);
    align-self: center;  
}   
.name-card{
    font-size: 19px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 5px;
    color: rgb(253, 243, 243);
}
.time{
    font-size: 34px;
    font-weight: 300;
    color: rgb(253, 243, 243);
}
.work{
    background: var(--light-red);   
}
.play{
    background: var(--soft-blue);
}
.study{
    background: var(--light-red-red);
}
.exercise{
    background: var(--lime-green);
}
.social{
    background: var(--violet);
}
.self{
    background: var(--soft-orange);
}
@media screen and (min-width: 1000px)
{
   .time{
    font-size: 48px;
   } 
   .name-card{
    font-size: 17px;
    margin-bottom: 10px;
   }
   .week{
    font-size: 13px;
   }
}