.profile-header{
    background: var(--dark-blue);
    overflow: hidden;
    border-radius: 20px;
    width: 100%;
}
.profile-container{
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    background: var(--blue);
    border-radius:20px;
    padding: 15px 0;

}
.image-jeremy{
    height: 65px;
    width: 65px;
    border-radius: 150px;
    border: 3px solid white;
    margin-left: 26px;
}
.text-container{
    margin-left: 15px;
}
.info{
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 30px;
    color: var(--pale-blue);
    font-weight: 400;
}
.name{
    margin-top: 1px;
    color: rgb(255, 255, 255);
    font-weight: 300;
    font-size :25px;
}
.profile-content{
    display: flex;
    justify-content: space-around;
    height: 70px;
    align-items: center;
}
.weekly{
    color: var(--pale-blue);
    
}
.weekly:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.daily{
    color: var(--pale-blue);
}
.daily:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.monthly{
    color: var(--pale-blue);
}
.monthly:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
}

@media screen and (min-width: 1000px){
    .profile-container{
        padding: 25px 0;
    }
    .info{
        font-size: 14px;
    }
    .name{
        font-size: 34px;
    }
    .text-container{
        padding: 10px 15px ;
    }
    .profile-content{
        padding: 30px;
        align-items: flex-start;
    }
}